.container {
    max-width: 320px;
    padding: 0px 16px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red;
}

/* секція header */

.header {
    padding-top: 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff54;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 34px 1px #db5a5ae1;
    z-index: 2;
}

.header-links {
    font-size: 20px;
    color: var(--header-links-color);
}

.header-list {
    display: none;
}

.header-logo {
    fill: #0E0E0E;
    width: 45px;
    height: 35px;
    animation-name: hiro-logo;
    animation-duration: 5s;
}

.header-tel {
    fill: #0E0E0E;
    width: 22px;
    height: 22px;
    margin-left: 183px;

    animation-name: animate__heartBeat;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.heder-burger {
    
    width: 24px;
    height: 24px;
}

.header-item-mobile {
    display: block;
}
.header-nav {
    display: flex;
}


.header-button {
    background-color: transparent;
}

.header-tel:hover {
    fill: #e87f54;
}

/* секція hero */

.hero {
    padding: 44px 0px 50px;
    background-image: url(../img/image_home_page.webp);
    background-size: 145px;
    background-repeat: no-repeat;
    background-position: center center;

}

/* .hero-container {
    height: 793px;
} */

.hero-title {
    font-weight: 400;
    font-size: 52px;
    text-align: center;

    margin-top: 40px;
    animation-name: movetitle;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: movetitle;
}

.hero-title:hover {
    color: red;
    transform: rotate(360deg);
    transition-duration: 2s;
    cursor: pointer;
}

.hero-subtitle {
    font-weight: 400;
    font-size: 14px;

    max-width: 46px;
    margin-top: 130px;
}

.hero-box {
    display: flex;
    gap: 180px;
    justify-content: center;
    align-items: center;
}

.hero-img-mobile {
    flex-shrink: 0;
    width: 64px;
    height: 76px;
    margin-top: 133px;
}

.hero-img-tablet {
    display: none;
}

.hero-img-desctope {
    display: none;
}

/* секція about */
.about {
    padding: 50px 0px;
}

.about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.about-text {
    font-size: 16px;
}

.about-photo {
    width: 288px;
    height: 178px;
}

.about-subbox {
    display: flex;
    gap: 14px;
}

.about-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 32px;
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* .about-title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 1000px;
    height: 2px;
    background-color: #333;
    margin-left: 15px;
}

.about-subbox::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #333;
} */

.about-line {
    outline: 0px solid #111111;
    width: 100%;
    height: 1px;
    background-color: #111111;
    margin-top: 14px;
}

/* секція store */
.store {
    padding: 50px 0px 100px;
}

.store-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    animation-name: wobble-hor-bottom;
    animation-duration: 4s;
}

.store-photo {
    width: 136px;
    height: 155px;
    animation-name: wobble-hor-bottom;
    animation-duration: 7s;
}

.store-subtitle {
    font-weight: 500;
    font-size: 16px;
    margin: auto;
    white-space: nowrap;
}

.store-text {
    font-weight: 600;
    font-size: 12px;
    opacity: 0.6;
}

.store-button {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    transition-duration: 1s;
}

.store-button:hover {
    transition-duration: 1s;
}

.store-subbox {
    display: flex;
    position: relative;
    gap: 16px;
}

.store-line {
    outline: 0px solid #111111;
    width: 100%;
    height: 1px;
    background-color: #111111;
    margin-top: 14px;
}

/* .store-subline-box {
    display: flex;
    position: relative;
    gap: 16px;
} */

/* .store-subline {
    outline: 0px solid #111111;
    width: 100%;
    height: 1px;
    background-color: #111111;
    margin-top: 40px;
} */
.button {
    border: none;
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 86%;
    color: var(--button-text-color);

    border-radius: 38px;
    width: 208px;
    height: 44px;
    background: #e86f54
}

.button:hover {
    background-color: #E25B41;
}

/* секція delivery */

.delivery {
    background-image: url(../img/image_delivery.webp);
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 135px;
}

.delivery-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
}

.delivery-text:nth-child(1) {
    max-width: 232px;
}

.delivery-text:nth-child(2) {
    max-width: 232px;
}

.delivery-text:nth-child(3) {
    max-width: 228px;
}

.delivery-text:nth-child(4) {
    max-width: 232px;
}

.delivery-namber {
    border-radius: 100%;
    stroke-width: 1px;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 8px;
    /* margin-left: 96px; */
}

.delivery-namber-list {
    width: 288px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

}

.delivery-photo {
    width: 320px;
    height: 135px;
}

.delivery-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 60px;
}

.delivery-subbox {
    display: flex;
    /* position: relative; */
    gap: 16px;
    margin-bottom: 32px;
}

.delivery-line {
    outline: 0px solid #111111;
    width: 100%;
    height: 1px;
    background-color: #111111;
    margin-top: 14px;
}

.delivery-title {
    font-size: 24px;
}

/* секція blog */
.blog {
    padding: 60px 0px;
}

.blog-title {
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.blog-list {
    overflow: hidden;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin: 32px 0px 28px;
}

.blog-subtitle {
    font-weight: 500;
    font-size: 18px;
    margin-top: 28px;
    text-align: center;
}

.blog-button {
    margin: 32px auto 60px;
    transition-duration: 1s;
}

.blog-button:hover {
    transition-duration: 1s;
}

.blog-svg {
    background-color: transparent;
}

.blog-subbox {
    display: flex;
    /* position: relative; */
    gap: 14px;
}

.blog-line {
    outline: 0px solid #111111;
    width: 100%;
    height: 1px;
    background-color: #111111;
    margin-top: 14px;
}

.blog-svg {
    stroke: #FFFFFF;
    fill: transparent;
    width: 41px;
    height: 27px;
}

.oposite {
    transform: scaleX(-1);
}


.blog-arrow {
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;

}

.left {
    left: -0px;
}

.right {
    right: -0px;
}

.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-img1,
.blog-img3 {
    width: 122px;
}

.blog-img2 {
    width: 153px;
}


/* секція footer  */

.footer {
    background-color: #000000;
    padding: 32px 0px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.footer-logo-link {
    display: none;
}

.footer-navigation {
    font-weight: 700;
    font-size: 18px;
    color: var(--footer-navigation-color);
    font-family: "Inter";

    margin-bottom: 18px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-links {
    font-weight: 500;
    font-size: 16px;
    color: var(--link-color);
    font-family: "Inter";
}

.footer-opening {
    font-weight: 700;
    font-size: 18px;
    color: var(--footer-opening-color);
    font-family: "Inter";
    margin-bottom: 18px;
}

.footer-mesengers {
    display: flex;
    gap: 14px;
}

.footer-text {
    font-weight: 500;
    font-size: 14px;
    color: var(--footer-text-color);
    font-family: "Inter";
}

.footer-contact {
    font-weight: 700;
    font-size: 18px;
    color: var(--footer-contact-color);
    font-family: "Inter";

    margin-bottom: 18px;
}

.footer-mention {
    font-weight: 500;
    font-size: 14px;
    color: var(--link-color);
    font-family: "Inter";
}

.footer-mesengers {
    margin-left: none;
}

.footer-icon {
    fill: none;
    stroke: #ffffff;
    width: 28px;
    height: 28px;
}





/* backdrop  */


.backdrop {
    background-color: #00000030;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    background-color: #fff;
    width: 272px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* border-radius: 15px; */

}

.modal-img {
    /* border-radius: 15px; */
    width: 272px;
    height: 121px;
}

.modal-img:hover {
    transform: rotate(-360deg);
    transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-delay: 500ms;

}

.subbox {
    padding: 18px 16px 28px;
    position: relative;
}

@keyframes animateY110 {
    0% {
        transform: translateX(0);
    }

    50% {

        transform: translateX(-410px);
    }

    100% {
        transform: translateX(0);
    }
}


.close {
    background-color: transparent;
    position: absolute;
    top: -100px;
    right: 14px;
    border: none;
    cursor: pointer;
    /* animation: animateY110 3000ms infinite 100ms; */

}

.modal-close {
    stroke: #000000;
    fill: #000000;
    width: 18px;
    height: 18px;
    transition: stroke 300ms ease, background-color 100ms ease;
}


.close:hover .modal-close {
    stroke: #E25B41;
    background-color: brown;
    transform: scale(2.35);
}


.modal-title {
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    color: #000;
    margin-bottom: 14px;

}

.modal-title:hover {
    background-color: rgb(188, 63, 32);
    color: #e87f54;
    transform: scale(1.6);
    transition-duration: 500ms;
    transition-delay: 500ms;
}

.modal-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: #5c5c5c;
    max-width: 236px;
    margin-bottom: 18px;
}

.modal-lbl {
    font-weight: 500;
    font-size: 10 px;
    color: #5c5c5c;
}

.modal-input {
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    width: 100%;
    height: 35px;
    margin-bottom: 18px;
    margin-top: 8px;
    padding-left: 11px;
}

.submit {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    width: 100%;
    height: 50px;

    background-color: #E86F54;
}

.submit:hover {
    background-color: brown;
    transform: rotate(720deg);
    transition-property: background-color, transform;
    transition-duration: 2000ms;
    transition-timing-function: ease-in-out;
    transition-delay: 2000ms;
}

/* .modal-img {
    width: 271px;
} */