.container {
    width: 320px;
    padding: 0px 16px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red;
}

/* секція header */

.header {
    padding-top: 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff54;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 34px 1px #db5a5ae1;
    z-index: 2;
}

.header-links {
    font-size: 20px;
    color: var(--header-links-color);
}

.header-list {
    display: none;
}

.header-logo {
    fill: #0E0E0E;
    width: 45px;
    height: 35px;
    animation-name: hiro-logo;
    animation-duration: 5s;
}

.header-tel {
    fill: #0E0E0E;
    width: 22px;
    height: 22px;
    margin-left: 183px;

    animation-name: animate__heartBeat;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.header-nav {
    display: flex;
}


.header-button {
    background-color: transparent;
}

.header-tel:hover {
    fill: #e87f54;
}

/* секція hero */

.hero {
    padding: 44px 0px 50px;
    background-image: url(../img/image_home_page.webp);
    background-size: 145px;
    background-repeat: no-repeat;
    background-position: center center;

}

/* .hero-container {
    height: 793px;
} */

.hero-title {
    font-weight: 400;
    font-size: 52px;
    text-align: center;

    margin-top: 2px;
    animation-name: movetitle;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: movetitle;
}

.hero-title:hover {
    color: red;
    transform: rotate(360deg);
    transition-duration: 2s;
    cursor: pointer;
}

.hero-subtitle {
    font-weight: 400;
    font-size: 14px;

    max-width: 46px;
    margin-top: 174px;
}

.hero-box {
    display: flex;
    gap: 180px;
    justify-content: center;
    align-items: center;
}

.hero-img {
    flex-shrink: 0;
    width: 64px;
    height: 76px;
    margin-top: 154px;
}

/* секція about */
.about {
    padding: 50px 0px;
}

.about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 34px;
}

.about-text {
    font-size: 16px;
}

.about-photo {
    width: 288px;
    height: 178px;
}

.about-subbox {
    display: flex;
    gap: 14px;
}

.about-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 80px;
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
}
/* .about-title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 1000px;
    height: 2px;
    background-color: #333;
    margin-left: 15px;
}

.about-subbox::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #333;
} */

.about-line {
    outline: 0px solid #111111;
    width: 100%;
    height: 1px;
    background-color: #111111;
    margin-top: 14px;
}
/* секція store */
.store {
    padding: 50px 0px 100px;
}

.store-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
    margin-top: 45px;
    margin-bottom: 60px;
    animation-name: wobble-hor-bottom;
    animation-duration: 4s;
}
.store-photo {
    width: 136px;
    height: 155px;
    animation-name: wobble-hor-bottom;
    animation-duration: 7s;
}
.store-subtitle {
    font-weight: 500;
    font-size: 16px;
    margin: auto;
    white-space: nowrap;
}
.store-text {
    font-weight: 600;
    font-size: 12px;
    opacity: 0.6;
}

.store-button {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    transition-duration: 1s;
}

.store-button:hover {
    transition-duration: 1s;
}
.store-subbox {
    display: flex;
    position: relative;
    gap: 16px;
}

.store-line {
    outline: 0px solid #111111;
    width: 100%;
    height: 1px;
    background-color: #111111;
    margin-top: 14px;
}
/* .store-subline-box {
    display: flex;
    position: relative;
    gap: 16px;
} */

/* .store-subline {
    outline: 0px solid #111111;
    width: 100%;
    height: 1px;
    background-color: #111111;
    margin-top: 40px;
} */
.button {
    border: none;
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 86%;
    color: var(--button-text-color);

    border-radius: 38px;
    width: 208px;
    height: 44px;
    background: #e87f54
}

.button:hover {
    background-color: #E25B41;
}

