@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0px 24px;
    }

    .header-list {
        display: flex;
        gap: 24px;
        align-items: center;
        margin-left: 80px;
        margin-right: auto;
    }

    .header-logo {
        width: 72px;
        height: 57px;
    }

    .header-tel {
        margin-left: 0px;
    }

    /* секція hero */

    .hero {
        padding: 140px 0px 50px;
        background-size: 390px;
    }

    .hero-title {
        font-weight: 400;
        font-size: 120px;
        margin-top: 140px;
    }

    .hero-subtitle {
        font-weight: 400;
        font-size: 24px;

        max-width: 76px;
        margin-top: 338px;
    }

    .hero-box {
        gap: 470px;
    }

    .hero-img {
        width: 145px;
        height: 150px;
        margin-top: 300px;
    }

    /* секція about */
    .about-box {
        flex-direction: row;
        gap: 54px;
        margin-top: 56px;
    }

    .about-text {
        font-size: 20px;
    }

    .about-title {
        font-weight: 700;
        font-size: 44px;
        margin-bottom: 80px;
    }

    .about-photo {
        width: 344px;
        height: 217px;
    }

    .about-subbox {
        gap: 16px;
    }

    .about-line {
        margin-top: 27px;
    }

    /* секція store */

    .store-title {
        font-weight: 700;
        font-size: 44px;
        /* margin-bottom: 80px; */
    }

    .store-list {
        column-gap: 32px;
        row-gap: 40px;
        margin-bottom: 60px;
        margin-top: 0px;

    }

    .store-photo {
        width: 344px;
        height: 399px;
    }

    .store-subtitle {
        font-weight: 500;
        font-size: 32px;
        margin: 16px 0px 4px;
    }

    .store-text {
        font-weight: 600;
        font-size: 24px;
        opacity: 0.6;
    }



    .store-subbox {
        display: flex;
        position: relative;
        gap: 16px;
    }
    .store-line {
        
        margin-top: 27px;
    }

    .store-subline-box {
        display: flex;
        position: relative;
        gap: 16px;
    }

    .store-subline {
        outline: 0px solid #111111;
        width: 100%;
        height: 1px;
        background-color: #111111;
        margin-top: 40px;
    }

    .button {
        font-size: 28px;
        border-radius: 38px;
        width: 280px;
        height: 64px;

    }
}