@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0px 24px;
    }

    .header-list {
        display: flex;
        gap: 24px;
        align-items: center;
        margin-left: 80px;
        margin-right: auto;
    }

    .header-logo {
        width: 72px;
        height: 57px;
    }

    .header-tel {
        margin-left: 0px;
    }

    /* секція hero */

    .hero {
        padding: 140px 0px 50px;
        background-size: 390px;
    }

    .hero-title {
        font-weight: 400;
        font-size: 120px;
        margin-top: 235px;
    }

    .hero-subtitle {
        font-weight: 400;
        font-size: 24px;

        max-width: 76px;
        margin-top: 210px;
    }

    .hero-box {
        gap: 470px;
    }

    .hero-img-tablet {
        display: flex;
        width: 145px;
        height: 150px;
        margin-top: 200px;
    }

    .hero-img-mobile {
        display: none;
    }

    /* секція about */
    .about-box {
        flex-direction: row;
        gap: 54px;
    }

    .about-text {
        font-size: 20px;
    }

    .about-title {
        font-weight: 700;
        font-size: 44px;
        margin-bottom: 30px;
    }

    .about-photo {
        width: 344px;
        height: 217px;
    }

    .about-subbox {
        gap: 16px;
    }

    .about-line {
        margin-top: 27px;
    }

    /* секція store */

    .store-title {
        font-weight: 700;
        font-size: 44px;
        /* margin-bottom: 80px; */
    }

    .store-list {
        column-gap: 32px;
        row-gap: 40px;
        margin-bottom: 60px;
        margin-top: 60px;

    }

    .store-photo {
        width: 344px;
        height: 399px;
    }

    .store-subtitle {
        font-weight: 500;
        font-size: 32px;
        margin: 16px 0px 4px;
    }

    .store-text {
        font-weight: 600;
        font-size: 24px;
        opacity: 0.6;
    }



    .store-subbox {
        display: flex;
        position: relative;
        gap: 16px;
    }

    .store-line {

        margin-top: 27px;
    }

    .store-subline-box {
        display: flex;
        position: relative;
        gap: 16px;
    }

    .store-subline {
        outline: 0px solid #111111;
        width: 100%;
        height: 1px;
        background-color: #111111;
        margin-top: 40px;
    }

    .button {
        font-size: 28px;
        border-radius: 38px;
        width: 280px;
        height: 64px;

    }

    /* секція delivery */

    .delivery {

        padding-bottom: 250px;
        background-size: 100% 264px;
    }

    .delivery-text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 24px;
    }

    .delivery-text:nth-child(1) {
        max-width: 544px;
    }

    .delivery-text:nth-child(2) {
        max-width: 593px;
    }

    .delivery-text:nth-child(3) {
        max-width: 582px;
    }

    .delivery-text:nth-child(4) {
        max-width: 476px;
    }

    .delivery-namber {
        width: 64px;
        height: 64px;
        font-size: 26px;
        margin-right: 20px;
        margin-left: 24px;
    }

    .delivery-namber-list {
        width: 628px;
        height: 64px;
    }

    .delivery-photo {
        width: 768px;
        height: 264px;
    }

    .delivery-list {
        gap: 20px;
    }

    .delivery-line {
        outline: 0px solid #111111;
        width: 100%;
        height: 1px;
        background-color: #111111;
        margin-top: 25px;
    }

    .delivery-title {
        font-size: 44px;
    }

    /* секція blog */
    .blog {
        padding: 100px 0px;
    }

    .blog-title {
        font-size: 44px;
    }

    .blog-list {
        gap: 32px;
        margin: 69px 32px;
    }

    .blog-subtitle {
        font-size: 32px;
        margin-top: 44px;
    }

    .blog-button {
        margin: 40px auto 0px;
    }

    .blog-subbox {
        gap: 16px;
    }

    .blog-line {
        outline: 0px solid #111111;
        width: 100%;
        height: 1px;
        background-color: #111111;
        margin-top: 27px;
    }

    .blog-svg {
        width: 98px;
        height: 64px;
    }

    .blog-img1,
    .blog-img3 {
        width: 287px;
    }

    .blog-img2 {
        width: 344px;
    }
    
/* секція footer  */

.footer {
    padding: 60px 0px 54px;
}
.footer-container {
    flex-wrap: nowrap;
}
.footer-navigation {
    font-size: 20px;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

}