body {
    font-family: "Montserrat";
    font-weight: 400;
    color: #000;
}

.container {
    width: 1264px;
    padding: 0px 16px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red;
}

:root {
    --link-color: #fff;
    --header-links-color: #000;
    --button-color: pink;
    --button-text-color: #fff;
    --footer-contact-color: #fff;
    --footer-text-color: #fff;
    --footer-opening-color: #fff;
    --footer-navigation-color: #fff;
}

/* загальні стилі */

.section-title {
    font-weight: 700;
    font-size: 44px;
}

.links {
    font-weight: 500;
    font-size: 16px;
    color: var(--link-color);
}


/* секція header */

.header {
    margin-top: 40px;
}

.header-links {
    font-size: 20px;
    color: var(--header-links-color);
}

.button {
    font-weight: 500;
    font-size: 28px;
    line-height: 86%;
    color: var(--button-text-color);

    border-radius: 38px;
    width: 280px;
    height: 64px;
    background: var(--button-color);
}

.header-nav {
    display: flex;
    padding: 12px;
}

.header-list {
    display: flex;
    gap: 48px;
    align-items: center;
    margin-left: 261px;
    margin-right: auto;
}

.header-button {
    background-color: #fff;
    margin-left: auto;

}

/* секція hero */

.hero {
    padding-top: 64px;
}


.hero-title {
    font-weight: 400;
    font-size: 160px;
    text-align: center;
}

.hero-subtitle {
    font-weight: 400;
    font-size: 32px;
    display: flex;
    align-items: center;
    padding-left: 210px;
}

.hero-box {
    display: flex;
}

.hero-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero-item2 {
    padding-right: 145px;
}

.hero-item1 {
    margin: 0px 121px;
}

/* секція about */
.about {
    padding: 85px 0px 115px;
}

.about-box {
    display: flex;
    gap: 90px;
}

.about-text {
    font-size: 22px;
    margin: 174px 0px 115px;
}

.about-photo {
    width: 632px;
    height: 344px;
    margin-top: 90px;
}

/* секція store */
.store {
    padding-bottom: 100px;
}

.store-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    margin: 134px 0px 60px;
}

.store-photo {
    width: 600px;
    height: 542px;
}

.store-subtitle {
    font-weight: 500;
    font-size: 36px;
    margin: 16px 0px 4px;
}

.store-text {
    font-weight: 600;
    font-size: 28px;
    opacity: 0.6;
    margin-bottom: 64px;
}

.store-button {
    margin: 0px 476px;
}

/* секція delivery */

.delivery-text {
    font-weight: 500;
    font-size: 32px;
}

.delivery-photo {
    width: 1280px;
    height: 391px;
}

.delivery-list {
    margin: 134px 210px 60px 216px;
}

.delivery-item:nth-child(1) {
    margin-bottom: 32px;
}

.delivery-item:nth-child(2) {
    margin-bottom: 32px;
}

.delivery-item:nth-child(3) {
    margin-bottom: 32px;
}

/* секція blog */
.blog {
    padding: 89px 0px 100px;
}

.blog-list {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin: 122px 44px;
}

.blog-subtitle {
    font-weight: 500;
    font-size: 32px;

    text-align: center;
}

.blog-button {
    margin: 48px 476px 0px;
}

/* секція footer  */

.footer {
    background-color: #000000;
}

.footer-container {
    display: flex;
    gap: 96px;
    padding: 72px 48px 72px 24px;
}

.footer-link-box {
    margin-left: 210px;
    margin-right: auto;
}

.footer-navigation {
    font-weight: 700;
    font-size: 20px;
    color: var(--footer-navigation-color);
    font-family: "Inter";

    margin-bottom: 18px;
}

.footer-item:nth-child(1) {
    margin-bottom: 12px;
}

.footer-item:nth-child(2) {
    margin-bottom: 12px;
}

.footer-item:nth-child(3) {
    margin-bottom: 12px;
}

.footer-links {
    font-weight: 500;
    font-size: 16px;
    color: var(--link-color);
    font-family: "Inter";
}

.footer-opening {
    font-weight: 700;
    font-size: 20px;
    color: var(--footer-opening-color);
    font-family: "Inter";

    margin-bottom: 18px;
}

.footer-text {
    font-weight: 500;
    font-size: 16px;
    color: var(--footer-text-color);
    font-family: "Inter";
}

.footer-contact {
    font-weight: 700;
    font-size: 20px;
    color: var(--footer-contact-color);
    font-family: "Inter";

    margin-bottom: 18px;
}

.footer-information:nth-child(1) {
    margin-bottom: 12px;
}

.footer-information:nth-child(2) {
    margin-bottom: 12px;
}

.footer-mention {
    font-weight: 500;
    font-size: 16px;
    color: var(--link-color);
    font-family: "Inter";
}

.footer-mesengers {
    margin-left: auto;
}

.footer-mesenger:nth-child(1) {
    margin-bottom: 18px;
}