body {
    font-family: "Montserrat";
    font-weight: 400;
    color: #000;
}

/* загальні стилі */

.section-title {
    font-weight: 700;
    font-size: 44px;
}

.links {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}


/* секція header */

.header-links {
    font-size: 20px;
    color: #000;
}

.button {
    font-weight: 500;
    font-size: 28px;
    line-height: 86%;
    color: #fff;

    border-radius: 38px;
    width: 280px;
    height: 64px;
    background: pink;
}

/* секція hero */

.hero-title {
    font-size: 160px;
    text-align: center;
}

.hero-subtitle {
    font-size: 32px;
}

/* секція about */

.about-text {
    font-size: 22px;
}

.about-photo {
    width: 632px;
    height: 344px;
}

/* секція store */

.store-photo {
    width: 600px;
    height: 542px;
}

.store-subtitle {
    font-weight: 500;
    font-size: 36px;
}

.store-text {
    font-weight: 600;
    font-size: 28px;
    opacity: 0.6;
}

/* секція delivery */

.delivery-text {
    font-weight: 500;
    font-size: 32px;
}

.delivery-photo {
    width: 1280px;
    height: 391px;
}

/* секція blog */

.blog-subtitle {
    font-weight: 500;
    font-size: 32px;
}

/* секція footer  */

.footer-navigation {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    font-family: "Inter bold";
}

.footer-links {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    font-family: "Inter Medium";
}

.footer-opening {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    font-family: "Inter bold";
}

.footer-text {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    font-family: "Inter Medium";
}

.footer-contact {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    font-family: "Inter bold";
}

.footer-mention {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    font-family: "Inter Medium";
}