body {
    font-family: "Montserrat";
    font-weight: 400;
    color: #000;
}

.container {
    width: 1264px;
    padding: 0px 16px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red;
}

:root {
    --link-color: #fff;
    --header-links-color: #000;
    --button-color: pink;
    --button-text-color: #fff;
    --footer-contact-color: #fff;
    --footer-text-color: #fff;
    --footer-opening-color: #fff;
    --footer-navigation-color: #fff;
}

/* загальні стилі */

.section-title {
    font-weight: 700;
    font-size: 44px;
}

.links {
    font-weight: 500;
    font-size: 16px;
    color: var(--link-color);
}


/* секція header */

.header {
    margin-top: 40px;
}

.header-links {
    font-size: 20px;
    color: var(--header-links-color);
}

.button {
    font-weight: 500;
    font-size: 28px;
    line-height: 86%;
    color: var(--button-text-color);

    border-radius: 38px;
    width: 280px;
    height: 64px;
    background: var(--button-color);
}

.header-nav {
    display: flex;
    padding: 12px;
}

.header-list {
    display: flex;
    gap: 48px;
    align-items: center;
    padding: 0px 306px 0px 261px;
}

.header-button {
    background-color: #fff;
    margin-left: auto;

}

/* секція hero */

.hero {
    padding-top: 64px;
}


.hero-title {
    font-weight: 400;
    font-size: 160px;
    text-align: center;
}

.hero-subtitle {
    font-weight: 400;
    font-size: 32px;
    display: flex;
    align-items: center;
    padding-left: 210px;
}

.hero-box{
    display: flex;
}

.hero-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero-item2 {
    padding-right: 145px;
}

.hero-item1 {
 margin: 0px 121px;
}

/* секція about */

.about-text {
    font-size: 22px;
}

.about-photo {
    width: 632px;
    height: 344px;
}

/* секція store */

.store-photo {
    width: 600px;
    height: 542px;
}

.store-subtitle {
    font-weight: 500;
    font-size: 36px;
}

.store-text {
    font-weight: 600;
    font-size: 28px;
    opacity: 0.6;
}

/* секція delivery */

.delivery-text {
    font-weight: 500;
    font-size: 32px;
}

.delivery-photo {
    width: 1280px;
    height: 391px;
}

/* секція blog */

.blog-subtitle {
    font-weight: 500;
    font-size: 32px;
}

/* секція footer  */

.footer-navigation {
    font-weight: 700;
    font-size: 20px;
    color: var(--footer-navigation-color);
    font-family: "Inter bold";
}

.footer-links {
    font-weight: 500;
    font-size: 16px;
    color: var(--link-color);
    font-family: "Inter Medium";
}

.footer-opening {
    font-weight: 700;
    font-size: 20px;
    color: var(--footer-opening-color);
    font-family: "Inter bold";
}

.footer-text {
    font-weight: 500;
    font-size: 16px;
    color: var(--footer-text-color);
    font-family: "Inter Medium";
}

.footer-contact {
    font-weight: 700;
    font-size: 20px;
    color: var(--footer-contact-color);
    font-family: "Inter bold";
}

.footer-mention {
    font-weight: 500;
    font-size: 16px;
    color: var(--link-color);
    font-family: "Inter Medium";
}